<div class='footer-bar' *ngIf='!isPageAbout && pageLoaded'>
    <mat-toolbar>
        <mat-toolbar-row>
            <span class='item start-item'>SpaceX</span>
            <ul class='footer-links'>
                <li class='item'><a href="https://twitter.com/spacex" target='_blank'>Twitter</a></li>
                <li class='item'><a href="https://www.youtube.com/spacex" target='_blank'>Youtube</a></li>
                <li class='item'><a href="https://www.flickr.com/spacexphotos" target='_blank'>Flickr</a></li>
                <li class='item'><a href="https://www.instagram.com/spacex" target='_blank'>Instagram</a></li>
            </ul>
            <span class='spacer'></span>
            <span class='item item-hidden-small'>All material is found from SpaceX API and media outlets</span>
            <span class='spacer'></span>
            <span class='item item-hidden-small end-item'>This is not the official site of SpaceX</span>
        </mat-toolbar-row>
      </mat-toolbar>
</div>