<div>
    <div class='splash'>
        <img src="https://live.staticflickr.com/65535/49635401403_ee3308f4df_b.jpg" alt="rocket">
    </div>
    <div class='container'>
        <h1>SPACEX   <mat-icon>arrow_forward_ios</mat-icon>   ROCKETS</h1>
        <mat-grid-list  cols='3' rowHeight='554px' gutterSize='15px' 
                        *ngIf='rockets.length > 0; else showLoading' 
                        [@revealPage]='pageHidden ? "hidden" : "visible"'>
            <mat-grid-tile *ngFor="let rocket of rockets">
                <div class='card-container'>
                    <div class='card-wrap'>
                        <div class='card-title'>
                            <p>{{ rocket.rocket_name }}</p>
                        </div>
                        <img [src]='rocket.image' alt='rocket.rocket_name' class='rocket-image'>
                        <div class='card-content'>
                            <p class='desc'>{{ rocket.description }}</p>
                            <p><a [routerLink]="['/rockets', rocket.rocket_id]"><mat-icon class='icon'>arrow_forward_ios</mat-icon>Learn More</a></p>
                        </div>
                    </div>
                </div>
            </mat-grid-tile>
        </mat-grid-list>
    </div>
</div>

<ng-template #showLoading>
    <app-spinner></app-spinner>
</ng-template>